<div class='container'>
    <h1>{{asdf.name}}, CA</h1>
    <div class='row'>
      <div class='text'>
        <p>Humidity: {{asdf.main.humidity}}</p>
        <p>Temperature (Average): {{asdf.main.temp}}</p>
        <p>Temperature(High): {{asdf.main.temp_max}}</p>
        <p>Temperature(Low): {{asdf.main.temp_min}}</p>
        <p>Status: {{asdf.weather[0].description}}</p>
      </div>
      <img src="https://images.pexels.com/photos/1119072/pexels-photo-1119072.jpeg">
    </div>
  </div>
  
  
  
  